<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Price Tracking Web App Thing</title>
  </head>
  <body>
    <h1>Stock Price Tracking Web App Thing</h1>
    <h3>Only the best stocks >:)</h3>
    <div class="nav-links">
      <a id="edit" href="/edit">Edit stocks</a>
      <a id="create" href="/create">Create stocks</a>
      <a id="view" href="/view">View stocks</a>
      <a id="delete" href="/delete">Delete stocks</a>
      <a id="logout" href="/logout">Logout</a>
    </div>
  </body>
</html>
