<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Price Tracking We App Thing</title>
  </head>
  <body>
    <div class="nav-links">
      <a href="/edit">Edit stocks</a>
      <a href="/create">Create stocks</a>
      <a href="/view">View stocks</a>
      <a href="/delete">Delete stocks</a>
      <a href="/logout">Logout</a>
    </div>



    
  </body>
</html>
